/* Estilos generales para la barra de navegación */
.navbar {
  background-color: #d2cd9a !important; /* Color de fondo */
  padding: 15px 20px; /* Espaciado interno */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.navbar-brand h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Color del texto */
  margin: 0;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-nav {
  margin-left: auto;
  display: flex;
  gap: 15px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  font-size: 18px;
  color: #007bff !important; /* Color de los enlaces */
  transition: color 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 5px;
}

.nav-link:hover {
  color: #0056b3 !important; /* Color al pasar el mouse */
  background-color: rgba(0, 123, 255, 0.1);
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-collapse {
      text-align: center;
  }
  .navbar-nav {
      flex-direction: column;
      gap: 10px;
  }
}
